#container {
  text-align: center;
}

h1 {
  color: rgba(255, 0, 0, 1);
  text-align: center;
}

h2 {
  color: rgba(0, 255, 0, 1);
  text-align: center;
}

h3 {
  color: rgba(0, 0, 255, 1);
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

#image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 10%;
}

.gallery-item {
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

figcaption {
  font-style: italic;
  font-size: 0.75em;
}

